
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-youtube:before { content: '\e801'; } /* '' */
.icon-google:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-dollar:before { content: '\e804'; } /* '' */
.icon-money-1:before { content: '\e805'; } /* '' */
.icon-wallet:before { content: '\e806'; } /* '' */
.icon-ok:before { content: '\e807'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
