
:root{}

body{
   background-color:whitesmoke;
   margin-left: 15vw;
   margin-right: 15vw;
}

.topBar{
   margin-top: 25px;
   align-items: baseline;
   position: relative;
}

.leftBar-logo{
   float: left;
   display: flex;
   justify-content: left;
   align-items: baseline;
}

img {
   width: 6rem;
}

.logoIcon{
   float: left;
}

.logoLettering{
   float: left;
   padding-left: 10px;
   font-size: 4.6rem;
   letter-spacing: -3px;
   color:black;
   font-family: 'Ubuntu Condensed';
}

.rightBar-menu{
   float: left;
   font-size: 1.1rem;
   position: absolute;
   right: 0;
   padding-right: 0;
   margin-right: 0;
   bottom: 10px;
   background-color: whitesmoke;
}

.menu{
   list-style-type: none;
   margin: 0;  
}


.menu > li{
   display: inline-block;
   padding-top: 0;
   padding-bottom: 0;
   font-size: 0.85rem;
   font-family: 'Montserrat', sans-serif;
   text-decoration: none;
}

.loginMenu a:link, a:visited {
     
      background-color: #b0d880;
      color: black;
      border: 2px solid #b0d880;
      border-radius: 8px;
      margin-left: 10px;
      padding: 15px 25px;
      text-align: center;
      text-decoration: none;
      transition: border-color 0.5s, background-color 0.5s, color 0.5s;
}

.loginMenu a:hover, a:active {
   background-color:#9fbd7a;
   border-color: transparent;
}

.regularMenu {
   color: black;
   padding: 10px 10px;
   text-align: center;
   text-decoration: none;
}

.settings:active{
   background-color: whitesmoke;
}


.regularMenu:hover{
   background-color:whitesmoke;
   padding-bottom: 1px;
   border-bottom: 2px solid rgb(37, 37, 37);
   padding-bottom: 0.4rem;
}


.leftMain{
   margin-top: 5rem;
   width: 40vw;
   float: left;
   /* Jest opcja aby usunąć ta klasę bo jest zduplikowana? */
}

.mainParagraph{
   font-size: 2.3rem;
   font-family: 'Encode Sans', sans-serif;
   letter-spacing: 1.1px;
   padding: 0;
}

.leftMainInMenu{
   margin-top: 5rem;
   width: 40vw;
   float: left;
   /* Jest opcja aby usunąć ta klasę bo jest zduplikowana? */
}

.rightMain{
   float: left;
   margin-top: 12rem;
   width: 28vw;   
}

.rightMainInMenu{
   float: left;
   margin-top: 8rem;
   width: 28vw;   
}

.leftMain > ul{
   padding-left: 0;
}

.leftMain > ul > li{
   font-family: 'Sofia Pro', sans-serif;
   list-style-type: none;
   letter-spacing: 0.3px;
   font-size: 1.5rem;
   padding-bottom: 10px;
}

li span{
   position: relative;
   left: 15px;
}

i{
   font-style: normal;
}

input{
   width: 100%;
   border: 1px solid rgb(177, 175, 175);
   background-color: whitesmoke;
   border-radius: 5px;
   font-size: 1.1rem;
   padding: 22px;
   margin-bottom: 20px;
   min-width: 10px;
   outline-color: yellowgreen;
   font-family: 'Sofia Pro', sans-serif;
}

input[type=password]{
   margin-bottom: 0px;
}

input[type=submit]{
   width: 10rem;
   text-align: center;
   margin-top: 40px;
   background-color: #b0d880;
   cursor: pointer;
   transition: border-color 0.5s, background-color 0.5s, color 0.5s;
}

input[type=submit]:hover{
   background-color:#9fbd7a;
   border-color: transparent;
}

::placeholder {
   color: rgb(90, 86, 86);
   opacity: 1; 
 }
 
 #mainChart{
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   display: block;
 }

 #mainChartInMenu{
   width: 30rem;
   margin-left: auto;
   margin-right: auto;
   display: block;
 }

 main{
    margin-bottom: 7vh;
 }

 .sentence{
    text-align: center;
    color: whitesmoke;
    background-color: #233038;
    margin-left:-15vw;
    margin-right: -15vw;
    padding: 4vh;
    font-size: 1.3rem;
    font-family: 'Encode Sans', sans-serif;
    margin-bottom: 7vh;
 }

 .footer{
    text-align: center;
    font-size: 1.0rem;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 15px;
 }

 .isAccount{
   font-size: 0.85rem;
   color: rgb(54, 54, 54);
   font-family: 'Montserrat', sans-serif;
   margin-top: 1vh;
 }

 .isAccount a{
    color: #38722a;
    text-decoration: none;
 }
 .isAccount a:hover{
   color: #489435;
   border-color: transparent;
}


.leftMainInMenu a{
   color:rgb(255, 255, 255);
   text-align: center;
   line-height: 15vh;
   text-align: center;
   font-size: 1.4vw;
   font-family: 'Encode Sans', sans-serif;
   letter-spacing: 1.5px;
   border: none;
   padding-bottom: 0;
   border-radius: 10px;
   text-decoration: none;
   display: inline-block;
   transition: color 0.2s;
}

.leftMainInMenu a:hover{
  color: #474747;
}

#addIncome {
    width: 17vw;
    margin-right: 5px;
    height: 15vh;
    background-color: #9fc571;
}

#addExpense{
   width: 17vw;
   margin-left: 5px;
   margin-right: 0;
   height: 15vh;
   background-color: #ff826e;
}

#showBalance{
   width: calc(34vw + 15px);
   height: 20vh;
   margin-top: 15px;
   background-color: #ebc45a;
   line-height: 20vh;
   font-size: 2vw;
}

.rotate{
  
   transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  display: block;
  margin-right: 0;
  margin-left: 0;
}

.rotate:hover{
   transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate{
   position: relative;
   top: 0.3rem;
}

.tooltiptext{
   visibility: hidden;
   width: 120px;
   background-color: black;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 5px 0;
   opacity: 0.75;
   /* Position the tooltip */
   position: absolute;
   top: -3rem;
   left: 19.7rem;
   z-index: 1;
}

#alignSettingsIcon:hover .tooltiptext {
   visibility: visible;
 }
