
:root{}

body{
   background-color:whitesmoke;
}

.container{
   margin-left: 15vw;
   margin-right: 15vw;
}

.topBar{
   margin-top: 25px;
   align-items: baseline;
   position: relative;
}

.leftBar-logo{
   float: left;
   display: flex;
   justify-content: left;
   align-items: baseline;
}

img {
   width: 6rem;
}

.logoIcon{
   float: left;
}

.logoLettering{
   float: left;
   padding-left: 10px;
   font-size: 76px;
   letter-spacing: -3px;
   color:#FF826E;
   font-family: 'Ubuntu Condensed';
}

.rightBar-menu{
   float: left;
   font-size: 34px;
   position: absolute;
   right: 0;
   bottom: 10px;
}

.menu{
   list-style-type: none;
   margin: 0;
}


.menu > li{
   display: inline-block;
   padding-top: 0;
   padding-bottom: 0;
   font-size: 15px;
   font-family: 'Montserrat', sans-serif;
}

.loginMenu a:link, a:visited {
     
      background-color: #FCD770;
      color: black;
      border: 2px solid #FCD770;
      border-radius: 8px;
      margin-left: 10px;
      padding: 15px 25px;
      text-align: center;
      text-decoration: none;
      transition: border-color 0.5s, background-color 0.5s, color 0.5s;

}

.loginMenu a:hover, a:active {
   background-color:#b4dd7f;
   border-color: transparent;
}

.regularMenu a:link, a:visited {
   color: black;
   padding: 10px 10px;
   text-align: center;
   text-decoration: none;
   transition: border-bottom 0.5;
}

.regularMenu a:hover, a:active {
   background-color:whitesmoke;
   border-bottom: 2px solid black;
   padding-bottom: 1px;
}